[submodule "methods/GraphProt2"]
	path = methods/GraphProt2
	url = https://github.com/julianhesse/GraphProt2.git
[submodule "methods/iDeepS"]
	path = methods/iDeepS
	url = https://github.com/julianhesse/iDeepS.git
[submodule "methods/DeepBind_with_Tensorflow"]
	path = methods/DeepBind_with_Tensorflow
	url = https://github.com/julianhesse/DeepBind_with_Tensorflow.git
